@charset "utf-8";

/* ---------- screen ---------- */
.main {
    width: 100%;
    height: 100%;
}
/* 模式 */
.letter-mod {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 10;
    width: 1000px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 30px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.letter-mod label {
    display: inline-block;
}
.letter-mod label:active {
    background: #eee;
}
.letter-mod input {
    vertical-align: middle;
}
/* 字母 */ 
.letter-outer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.letter-format {    
    position: absolute;
    top: 25px;
    left: 0;
    width: 1000px;
    height: 300px;
}
.letter-format i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #bbb;
}
.letter-format i:nth-child(2) {
    top: 100px;
}
.letter-format i:nth-child(3) {
    top: 200px;
}
.letter-format i:nth-child(4) {
    top: 300px;
}
.letter-box {
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 490px;
    height: 300px;
    padding-left: 50px;
    text-indent: 20px;
    font-size: 175px;
    line-height: 300px;
    text-align: center;
}
.letter-box span {
    display: inline-block;
    float: left;
}
.letter-box span.uppercase {
    width: 230px;
}
.letter-box:nth-child(1) {
    font-family: STKaiti;
    font-size: 235px;
}
.letter-box:nth-child(1) span:nth-child(1) {
    font-size: 290px;
    margin-top: -15px;
}
.letter-box:nth-child(2) {
    font-family: Segoe Print;
}
.letter-box:nth-child(2) span:nth-child(1) {
    font-size: 260px;
    margin-top: -32px;
}
.letter-box:nth-child(2) span:nth-child(2) {
    margin-top: 6px;
}
/* 界面 */
.letter-top {
    position: absolute;
    top: -78px;
    width: 1000px;
}
.letter-top span {
    display: inline-block;
    padding: 0 130px;
    font-size: 50px;
    color: #666;
}
.letter-voice {
    position: absolute;
    top: -86px;
    left: 20px;
    cursor: pointer;
}
.letter-results {
    position: absolute;
    top: -145px;
    right: 20px;
}
.letter-results i {
    display: none;
    font-style: normal;
    font-size: 150px;
    line-height: 150px;
}
.letter-results.error i:nth-child(1) {
    display: block;
    color: #f22;
    font-size: 180px;
    line-height: 180px;
}
.letter-results.success i:nth-child(2) {
    display: block;
    color: #00cc00;
    font-weight: bold;
}
.letter-speed {
    position: absolute;
    top: -86px;
    left: 50%;
    width: 75px;
    height: 75px;
    margin-left: -42px;
    line-height: 80px;
    font-size: 35px;
    color: rgb(200,200,200);
    text-align:center;
    border: #ddd 2px solid;
    border-radius: 5px;
    background: #f8f8f8;
}

/* ---------- big screen ---------- */
@media screen and (min-height: 700px) {
	.letter-outer {
	    top: 40%;
	}
    .letter-top {
        top: -70px;
    }
    .letter-top span {
        padding: 0 180px;
        font-size: 40px;
    }
    .letter-voice {
        top: auto;
        bottom: -150px;
        left: 50px;
    }
    .letter-results {
        top: auto;
        bottom: -185px;
        right: 50px;
    }
    .letter-speed {
        top: auto;
        bottom: -150px;
    }
}